
image.jpg
image3.jpg
Base.txt
dados.txt
watermark.pdf
usuario2.png
usuario1.png
texto.txt
material.xlsx
logo.jpg
gestor.png
loliveira.png
mmsilva.png
pfranca.png
__pycache__/analisetribut.cpython-39.pyc
jazzolini.png
